body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .p{
    color: #000;
  }
  
  .logo {
    margin: 0;
  }
  
  .navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 30px;
  }
  
  .navigation li:last-child {
    margin-right: 0;
  }
  
  .navigation li a {
    color: white;
   text-decoration: none;
   
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .buttons :hover{
    background-color: transparent;
    color: black;
  }
  .button1 {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: navy;
    border: 1px solid white;    
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
  }
  .button2 {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: hwb(193 33% 8%);
    color: navy;
    border: 1px solid white;    
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
  }
  .btn{margin-right: 10px;
    padding: 10px 20px;
    background-color:hwb(193 33% 8%);
    color: blue;

    border: 1px solid white;  
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;

  }

  .btn2{margin-right: 10px;
    padding: 10px 20px;
    background-color:transparent;
    color: blue;

    border: 1px solid white;  
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;

  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items at the start to move content below header */
    padding: 20px;
    margin-top: 20px; /* Add margin to create space below header */
  }
  
  .img{
    width: 50px;
    border-radius: 25px;
  }